

<script type="text/javascript">
  var alcoholContent = "<%= @blood_alcohol_content %>";
</script>
  <script src="/Chart.js/Chart.js"></script>
  <script src="/js/bar.js"></script>
   <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>



<div id="grid" class="ui grid">
  <div class="one wide column">
  </div>
  <div class="six wide column">
      <h1 class="ui huge header">
      Your BAC: <%= @blood_alcohol_content %></h1>
      <h2 class="ui sub header">
        <% if @blood_alcohol_content < 0.08  %>
          <%= "below legal limit" %>
        <% else  %>
          <%= "above legal limit!" %>
        <% end %>
      </h2>
    <canvas id="myBar" width="300" height="600"></canvas>
    </div>
    <div id="shit" class="ui nine wide column">
              <div class="container">
          <% if @blood_alcohol_content < 0.08  %>
            <div class="ui left aligned header">
               <img id="drink_n_drive" src="/imgs/dont_drink_and_drive.jpg"/>
            </div>
              <div style="font-size:30px" class="ui sub header">
                We recommend you take an Uber home!
              </div>
                <button id="massiveButton" href=" " class="massive ui center aligned button">
                    Massive
                </button>
          <% else  %>
            <%= "above legal limit!" %>
          <% end %>

    </div>
  </div>
  </div>
</div>
  <div id="rapper" class="ui medium circular image nine wide column">
  <div id="map">
  </div>
</div>

  <button style="display:none" id="checkDrivers" href=" " class="massive ui center aligned button">
        Check for Drivers
    </button>
<script src="/js/map.js"></script>


