<h1> <%= @blood_alcohol_content %></h1>
<% height = @blood_alcohol_content * 1000 %>
<% color = ""; if height > 87  %>
<% color = "red" %>
<% else color = "green"%>
<% end %>



<div id="legal_limit"></div>
<div id="you" style="height:<%= height %>px; background-color: <%= color %>"> </div>



<% if @blood_alcohol_content < 0.08  %>
  <%= "below legal limit" %>
<% else  %>
  <%= "above legal limit!" %>
<% end %>
