<%if session[:user_id] == nil  %>

<%= erb :_beer_pour_background %>
<%= erb :_homepage_message  %>
<%else %>
<div class="banner">
</div>
<h2 id="drink_scale">
  1 drink = 12oz. 5% beer, 1.25 oz. 40% liquor, 5oz. 12% wine
</h2>
<% if @errors %>
  <% @errors.each do |key, val| %>
    <div class="error"><%= "#{key} field #{val[0]}!" %></div>
  <% end %>
<% end %>

  <%= erb :'users/_index_form' %>

<%= erb :_bottom_icon_banner %>
<% end %>
